*{
	margin:0px;
}

body{
	background-image: url("../imgs/logo.png");
	background-size: 75vw;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color:#99FF99;
}

h1{
	color:#990000;
	display: inline-block;
	width:40%;
}

#more_nav{
	position:absolute;
	right:2%;
	display:inline-block;
}
nav[class="hor"]{
	width:1%;
	display:none;
}
nav[class="ver"]{
	z-index:10;
	width:100%;
	margin-left:0px;
	position:absolute;
	display:none;
}
a[class*="hor_nav"]{
	display:none;
	transition-property: background;
	transition-duration: .5s;
	transition-timing-function:linear;
}
a[class*="ver_nav"]{
	font-size:150%;
	width:100%;
	padding-top:2%;padding-bottom:2%;padding-left:10%;
	border: 1px solid #333333	;
	background:#333366;
	color:#FFFFFF;
	text-decoration:none;
	display:block;
	transition-property: background;
	transition-duration: .5s;
	transition-timing-function:linear;
}
a[class="ver_nav special"]{
	color:#EE0000;
}
a[class*="ver_nav"]:hover, a[class*="ver_nav"]:focus{
	background:#330033	
}
a[class*="hor_nav"]:hover, a[class*="hor_nav"]:focus{
	background:#00CC66;
}
main{
	position:relative;
}

main, footer{
	margin: 2%;
}
article[id = "intro"]{
	font-size: 150%;
}
.italic_txt{
	margin-top:1%;
	text-align: center;
	font-style:italic;
}
.Company{
	margin-bottom:5%;
}

.History{
	margin-top: 5%;
}

table{
	margin-left: 5%;
	width: 90%;
	border: 1px solid #E8E8E8;
}

td,th{
	text-align:center;
	padding: 1%;
	border: 1px solid #E8E8E8;
}

th{
	background-color:#66FFFF	;
}
tr{
	background-color:#CCFF33;
}
tr:nth-child(even){
	background-color:#CCFF00	;
}

h3{
	font-size: 180%;
	text-align:center;
}

div.Founder{
	clear: both;
}

main h2{
	text-transform:uppercase;
	padding-left:3%;
	border: 24px solid transparent;
    -webkit-border-image: url("../imgs/border2.png") 30 stretch;
	border-image: url("../imgs/border2.png") 30 stretch;
	font-style: italic;
	margin-bottom: 2%;
}

img[id = "kisphophu"]{
	width:75vw;
}
.picture{
	display:block;
	margin-left:10%;
	margin-bottom:3%;
	width:70vw;
	float:left;
}

ul{
	list-style-image: url("../imgs/bullet.png");
	
}
.credit{
	margin-left:5%;
	margin-top:2%;
	width:80vw;
	display:inline-block;
}
li{
	margin-top:3%;
}
p[class="shop_intro"]{
	text-align:center;
	font-weight:bold;
	font-size:150%;
	margin-bottom:5%;
}

div[class="shop_item"]{
	display:inline-block;
	width: 50%;
	height:60vh;
	margin-left:20%;
	margin-bottom:3%;
	border: 24px solid transparent;
	-webkit-border-image: url("../imgs/border2.png") 30 stretch;
	border-image: url("../imgs/border2.png") 30 stretch;
	float:left;
}

p[class="item_name"]{
	font-style:oblique;
	font-weight: bold;
	font-size:150%;
	text-align: center;
}
p[class="price"]{
	color:red;
	font-weight: bold;
	font-size:150%;
	text-align: center;
}

img[class="item_img"]{
	width:60%;
	padding-left:20%;
}

img[alt="order"]{
	width:35%;
	padding-left:30%;
}
#fortune_intro{
	text-align:center;
	font-size:150%;
	font-weight:bold;
	color:red;
	margin-bottom:4%;
}
#fortune_ok{
	margin-left: 38%;
	width:20%;
	padding:1%;
	font-size:250%;
	font-weight:bold;
	background:#CC0000	;
	background:-webkit-linear-gradient(#CC0000 0%, #F5F5F5 100%);
	background:-o-linear-gradient(#CC0000 0%, #F5F5F5 100%);
	background:-moz-linear-gradient(#CC0000	0%, #F5F5F5 100%);
	background:linear-gradient(#CC0000 0%, #F5F5F5 100%);
}
input{
	margin-left:25%;
	width:45%;
	padding:2%;
	text-align:center;
	font-size:200%;
}

#prediction{
	margin-top:5%;
	text-align:center;
	border: 24px solid transparent;
    -webkit-border-image: url("../imgs/border2.png") 30 stretch;
	border-image: url("../imgs/border2.png") 30 stretch;
	color:yellow;
	background-color:#000000;
	font-size:150%;
}
#gift{
	margin-left:40%;
	transition-property: margin-left, position;
	transition-duration: .25s;
	transition-timing-function:linear;	
}
img[alt="gift"]{
	width:20%;
	display:inline-block;
	transition-property: width;
	transition-duration: .25s;
	transition-timing-function:linear;
}
#gift:hover, #gift:focus{
	margin-left:38%;
}
img[alt="gift"]:hover, img[alt="gift"]:focus{
	width:25%;
}


footer{
	clear:both;
	margin:0px;
	font-style:italic;
	color:#FFFFFF;	
}
header, footer{
	height: 15%;
	padding: 1%;
	background:#000022;
	background:-webkit-linear-gradient(#000022 0%, #000044 100%);
	background:-o-linear-gradient(#000022 0%, #000044 100%);
	background:-moz-linear-gradient(#000022 0%, #000044 100%);
	background:linear-gradient(#000022 0%, #000044 100%);
}

@media screen and (min-width:700px){
	div[class="shop_item"]{
		display:inline-block;
		width: 30%;
		height:60vh;
		margin-right:6%;
		margin-left:6%;
	}
}

@media screen and (min-width:1000px){
	#more_nav{
		display:none;
	}
	nav[class="hor"]{
		width:55%;
		display:inline-block;
	}	
	a[class*="hor_nav"]{
		text-align:center;
		width: 18%;
		padding-top: 1.5%; padding-bottom: 1.5%;
		margin-right:4%;
		text-decoration:none;
		display:inline-block;
		background-color:#6633FF	;
		border-radius: 5px;
		color:#FFFFFF;
	}
	a[class="hor_nav special"]{
		background-color:#EE0000;
		color:#000000;
	}
	a[class*="hor_nav active"]{
		background-color:#FFFFFF;
		color:#000000;
	}
	a[class*="ver_nav"]{
		display:none;
	}
	nav[class="ver"]{
		display:none;
	}
	img[id = "kisphophu"]{
		width:20vw;
	}
	.picture{
		display:inline-block;
		margin-left: 3%;
		margin-bottom:3%;
		width:20vw;
		float:left;
	}
	.credit{
		width:65vw;
		display:inline-block;
	}
}

@media screen and (min-width:1000px){
	div[class="shop_item"]{
		display:inline-block;
		width: 25%;
		height:50vh;
		margin-right:3%;
		margin-left:0%;
	}
}

@media screen and (min-width:1300px){
	div[class="shop_item"]{
		display:inline-block;
		width: 20%;
		height:50vh;
		margin-right:1%;
		margin-left:0%;
	}
}
